<footer class="bg-dark text-white mt-4 pt-2 pb-2">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2024 Student Senior Pvt. Ltd. All rights reserved.
    </div>
</footer>