<nav class="navbar navbar-expand-md bg-body-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand logo" href="#">Student Senior</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" style="background-color: white;" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="#">Home</a>
                <a class="nav-link" href="/colleges">Colleges</a>
                <a class="nav-link" href="/pyqs">pyqs</a>
                <a class="nav-link" href="/seniors">Senior</a>
                <a class="nav-link" href="/store">Store</a>
                <a class="nav-link" href="/whatsappgroup">Groups</a>
                <a class="nav-link" href="/notes">Notes</a>

            </div>
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="/pyqs/new">Add PYQs</a>
                <a class="nav-link" href="/colleges/new">Add College</a>
                <a class="nav-link" href="/store/new">Add Product</a>
                <a class="nav-link" href="/whatsappgroup/new">Add Group</a>
                <a class="nav-link" href="/notes/new">Add Notes</a>
                <a class="nav-link" href="/senior/new">Add Senior</a>
                <% if (!currUser) { %>
                    <a class="nav-link" href="/login">Login</a>
                    <% } %>
                        <% if(currUser){ %>
                            <a class="nav-link usericon ihover" href="/profile"><i class="fa-solid fa-user"></i>&nbsp;
                                <%= currUser.username %>
                            </a>
                            <a class="nav-link" href="/user/logout">Logout</a>
                            <% } %>
            </div>
        </div>
    </div>
</nav>