<% layout("/layouts/boilerplate.ejs") %>

    <div class="container mt-4">
        <h1>Add New Product</h1>
        <form action="/store" method="POST" enctype="multipart/form-data">
            <!-- College Selection -->
            <div class="form-group">
                <label for="college">Select College</label>
                <select id="college" name="college" class="form-control" required>
                    <option value="">Select College</option>
                    <% colleges.forEach(college=> { %>
                        <option value="<%= college._id %>">
                            <%= college.name %>
                        </option>
                        <% }); %>
                </select>

            </div>


            <!-- Product Name -->
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" class="form-control" required>
            </div>

            <!-- Description -->
            <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" name="description" class="form-control" required></textarea>
            </div>

            <!-- Product Image -->
            <div class="form-group">
                <label for="image">Upload Product Image ( Max 2 Mb )</label>
                <input type="file" name="image" id="image" class="form-control" required>
            </div>

            <!-- Price -->
            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" id="price" name="price" class="form-control" required>
            </div>

            <!-- WhatsApp Number -->
            <div class="form-group">
                <label for="whatsapp">WhatsApp Number</label>
                <input type="text" id="whatsapp" name="whatsapp" class="form-control">
            </div>

            <!-- Telegram Username -->
            <div class="form-group">
                <label for="telegram">Telegram Username</label>
                <input type="text" id="telegram" name="telegram" class="form-control">
            </div>

            <!-- Available -->
            <div class="form-group">
                <label for="available">Available</label>
                <select class="form-control" id="available" name="available" required>
                    <option value="">Select</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>

            <!-- Status -->
            <div class="form-group">
                <label for="status">Status</label>
                <select class="form-control" id="status" name="status" required>
                    <option value="">Select</option>
                    <option value="true">Active</option>
                    <option value="false">Inactive</option>
                </select>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary mt-3">Add Product</button>
            <a href="javascript:history.back()" class="btn btn-warning">Back</a>
        </form>
    </div>