<% layout('/layouts/boilerplate.ejs') %>

    <div class="container mt-4">
        <h1 class="text-center">Edit Post</h1>
        <form action="/community/<%= post.id %>?_method=PUT" method="POST">
            <div class="form-group mb-3">
                <label for="content" class="form-label">Content</label>
                <textarea type="text" id="content" name="content" class="form-control" rows="5" style="resize: none;"
                    required>
                <%= post.content %>
            </textarea>
            </div>
            <div class="mb-3">
                <label for="isAnonymous" class="form-label">Post Anonymously</label>
                <select id="isAnonymous" name="isAnonymous" class="form-select" required>
                    <option value="true" <%=post.isAnonymous ? 'selected' : '' %>>True</option>
                    <option value="false" <%=post.isAnonymous ? '' : 'selected' %>>False</option>
                </select>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <div class="d-grid gap-2 d-md-block">
                    <button type="submit" class="btn btn-success btn-lg">Update Post</button>
                    <a href="javascript:history.back()" class="btn btn-warning">Back</a>
                </div>
            </div>
        </form>
    </div>