<% layout("/layouts/boilerplate.ejs") %>

    <div class="container">
        <h3 class="my-4 text-center">All Colleges</h3>
        <div class="d-flex justify-content-between">
            <a href="/colleges/new" class="btn btn-primary mb-3">Add New College</a>
            <a href="javascript:history.back()" class="btn btn-warning">Back</a>
        </div>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
            <% for(let college of allColleges) { %>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <h5 class="card-title">
                                <%= college.name %>
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                <%= college.status %>
                            </h6>
                            <p class="card-text">
                                <%= college.description %>
                            </p>
                            <a href="/colleges/<%= college._id %>" class="btn btn-primary">Detail</a>
                        </div>
                    </div>
                </div>
                <% } %>
        </div>
    </div>