<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Senior</title>
</head>

<body>
    <h3>All Colleges</h3>
    <ul>
        <% for(let college of allColleges) { %>
            <li>
                <a href="/colleges/<%= college._id %>">
                    <%= college.name %>
                </a>
            </li>
            <% } %>
    </ul>
</body>

</html>