<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>colllege</title>
</head>

<body>
    <h3>College Detail</h3>
    <ul>
        <li>
            <%= college.name %>
        </li>
        <li>
            <%= college.description %>
        </li>
        <li>
            <%= college.location %>
        </li>
        <li>
            <%= college.status %>
        </li>
    </ul>
</body>

</html>