<% layout("/layouts/boilerplate.ejs") %>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>User Name</th>
                    <th>College Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <% allUsers.forEach(user=> { %>
                    <tr>
                        <td>
                            <%= user.username %>
                        </td>
                        <td>
                            <%= user.college %>
                        </td>
                        <td>
                            <%= user.phone %>
                        </td>
                        <td>
                            <%= user.email %>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>