<% layout("/layouts/boilerplate.ejs") %>

    <div class="container my-4">
        <h3 class="text-center mb-4">All Messages</h3>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Subject</th>
                        <th>Email</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <% messages.forEach(message=> { %>
                        <tr>
                            <td>
                                <%= message.subject %>
                            </td>
                            <td>
                                <%= message.description %>
                            </td>
                            <td>
                                <%= message.email %>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
    </div>