<% layout("/layouts/boilerplate.ejs") %>

    <div class="container my-5">
        <h1 class="text-primary mb-4">Add New Branch</h1>
        <form action="/branches" method="POST" class="shadow p-4 bg-light rounded">
            <div class="mb-3">
                <label for="branchName" class="form-label">Branch Name:</label>
                <input type="text" id="branchName" name="branchName" class="form-control"
                    placeholder="Enter branch name" required />
            </div>
            <div class="mb-3">
                <label for="branchCode" class="form-label">Branch Code:</label>
                <input type="text" id="branchCode" name="branchCode" class="form-control"
                    placeholder="Enter branch code" required />
            </div>
            <div class="mb-3">
                <label for="course" class="form-label">Course:</label>
                <select id="course" name="course" class="form-select" required>
                    <% courses.forEach(course=> { %>
                        <option value="<%= course._id %>">
                            <%= course.courseName %>
                        </option>
                        <% }) %>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>